@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box; /* задаём значение для всех элементов, которое позволит правильно считать отступы */
}

body {
  font-family: "Roboto", sans-serif; /* задали шрифт Roboto по умолчанию */
}

.header {
  background-color: #635854; /* изменили цвет шапки */
  padding-top: 12px; /* внутренний отступ сверху */
  padding-bottom: 12px; /* внутренний отступ снизу */
  border-bottom: 4px solid #3596f5; /* линия внизу шапки */
}

.navbar {
  max-width: 1280px; /* задали максимальную длину объекту */
  margin: auto; /* сделали, чтобы по краям были равные отступы */
  display: flex; /* сделали блок гибким */
  justify-content: space-between; /* расставили элементы по краям */
  align-items: center; /* сделали так, чтобы все элементы были по центру */
}

.navbar-menu {
  margin: 0; /* отключаем внешние отступы */
  padding: 0; /* отключаем внутренние отступы */
  list-style: none; /* убираем точки у списка */
  display: flex; /* сделали так, чтобы список шёл строкой */
  text-align: center; /* выравниваем элементы по центру */
}

.navbar-item {
  margin-left: 40px; /* задаём отступ справа у ссылки */
  margin-right: 40px; /* задаём отступ слева у ссылки */
}

.navbar-link {
  text-decoration: none; /* убираем подчёркивание у ссылок */
  color: #fff; /* задаём цвет ссылок */
}

.navbar-contacts {
  text-align: right; /* выравниваем блок по правому краю */
}

.navbar-text {
  display: block; /* пишем, что элемент должен занимать всю строку */
  color: #fff; /* задаём тексту цвет */
  margin-bottom: 4px; /* отталкивает номер телефона вниз */
  font-size: 14px; /* задаём размер шрифта */
  line-height: 16px; /* задаём размер строки */
}

.navbar-phone {
  font-weight: 700; /* задаём жирный шрифт */
  font-size: 17px; /* задаём размер шрифта */
  line-height: 20px; /* задаём размер строки */
  text-decoration: none; /* отключаем нижнее подчёркивание */
  color: #fff; /* задаём цвет шрифта */
}

.main {
  max-width: 1280px; /* задали максимальную длину объекту */
  margin: auto; /* сделали, чтобы по краям были равные отступы */
  padding-top: 54px; /* сделали отступ сверху */
  display: flex; /* сделали так, чтобы пункт выбора был справа от картинки */
}

.main-info {
  flex-grow: 1; /* сделали так, чтобы блок main-info занял максимально места */
  text-align: center; /* сделали так, чтобы весь текст находился по середине блока */
  display: flex; /* делаем так, чтобы выстроить по порядку */
  flex-direction: column; /* делаем так, чтобы выстроить по порядку */
  align-items: center; /* делаем так, чтобы все элементы встали по центру */
  justify-content: space-between; /* разбрасываем элементы */
}

.home-image path {
  opacity: 0; /* сделали все path прозрачными */
  cursor: pointer; /* сделали, чтобы при наведении на path была рука :D */
}

.home-image path:hover {
  opacity: 1; /* сделали, чтобы при наведении на path убиралась прозрачность */
}

.counter-group {
  flex-direction: column; /* растянули содержимое блока на всю его ширину */
  display: flex; /* сделали так, чтобы кнопки стали по высоте */
  align-items: center; /* сделали так, чтобы всё содержимое блока было по центру */
}

.counter-button {
  background-color: #fff; /* задали цвет кнопке */
  border: none; /* убрали обводку у кнопки */
  cursor: pointer; /* сделали, чтобы при наведении на path была рука :D */
}

.main-title {
  margin: 0; /* убираем отступы */
  font-family: "Bebas Neue", sans-serif; /* задали шрифт для заголовка */
  font-weight: normal; /* убрали жирность */
  font-size: 37px; /* задали размер щрифту */
  line-height: 37px; /* задали размер строк */
  color: #635854; /* задали цвет */
}

.counter {
  font-family: "Bebas Neue", sans-serif; /* задали шрифт для счётчика */
  color: #635854; /* задали цвет */
  font-size: 124px; /* задали размер */
}

.button-primary {
  background-color: #3596f5;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 16px 36px;
  cursor: pointer;
}
