* {
  box-sizing: border-box; /* задаём значение для всех элементов, которое позволит правильно считать отступы */
}

body {
  font-family: "Roboto", sans-serif; /* задали шрифт Roboto по умолчанию */
}

.header {
  background-color: #635854; /* изменили цвет шапки */
  padding-top: 12px; /* внутренний отступ сверху */
  padding-bottom: 12px; /* внутренний отступ снизу */
  border-bottom: 4px solid #3596f5; /* линия внизу шапки */
}

.navbar {
  max-width: 1280px; /* задали максимальную длину объекту */
  margin: auto; /* сделали, чтобы по краям были равные отступы */
  display: flex; /* сделали блок гибким */
  justify-content: space-between; /* расставили элементы по краям */
  align-items: center; /* сделали так, чтобы все элементы были по центру */
}

.navbar-menu {
  margin: 0; /* отключаем внешние отступы */
  padding: 0; /* отключаем внутренние отступы */
  list-style: none; /* убираем точки у списка */
  display: flex; /* сделали так, чтобы список шёл строкой */
  text-align: center; /* выравниваем элементы по центру */
}

.navbar-item {
  margin-left: 40px; /* задаём отступ справа у ссылки */
  margin-right: 40px; /* задаём отступ слева у ссылки */
}

.navbar-link {
  text-decoration: none; /* убираем подчёркивание у ссылок */
  color: #fff; /* задаём цвет ссылок */
}

.navbar-contacts {
  text-align: right; /* выравниваем блок по правому краю */
}

.navbar-text {
  display: block; /* пишем, что элемент должен занимать всю строку */
  color: #fff; /* задаём тексту цвет */
  margin-bottom: 4px; /* отталкивает номер телефона вниз */
  font-size: 14px; /* задаём размер шрифта */
  line-height: 16px; /* задаём размер строки */
}

.navbar-phone {
  font-weight: 700; /* задаём жирный шрифт */
  font-size: 17px; /* задаём размер шрифта */
  line-height: 20px; /* задаём размер строки */
  text-decoration: none; /* отключаем нижнее подчёркивание */
  color: #fff; /* задаём цвет шрифта */
}
